header,section,footer{
    border: 2px solid black;
}
header{
    height: 300px;
    width: 100%;
}
section{
    height: 300px;
    width: 49.2%;
    float: left;
}
head,footer{
    clear: both;
}
footer{
    height: 300px;
    width: 100%;
}
@media only screen and (max-width: 600px){
    section{
        height: 300px;
        width: 100%;
    }
}
